.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 20px 15px;
  position: relative;
  width: 100%;
  gap: 15px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(145, 174, 236);
    padding: 15px;
    border-radius: 8px;
  }
  li {
    font-size: 20px;
  }
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.back {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(145, 174, 236);
  padding: 15px 20px;
  border-radius: 15px;
}
